.container {
  max-width: 78px;
  max-height: 78px;
  border-radius: 50%;
  border: 3px solid #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.container img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


@media (max-width: 768px) {
  .container {
    grid-row: 1 / 3;
  }
}

